In [3]:
import pandas as pd

In [4]:
aircraft = pd.read_csv("data/aircraftDatabase-2021-05.csv")

In [5]:
aircraft.head()

,icao24,registration,manufacturericao,manufacturername,model,typecode,serialnumber,linenumber,icaoaircrafttype,operator,...,status,built,firstflightdate,seatconfiguration,engines,modes,adsb,acars,notes,categoryDescription
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,False,False,NaN,NaN
1,aa3487,N757F,NaN,Raytheon Aircraft Company,A36,NaN,E-3121,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,False,False,NaN,NaN
2,ae267b,6533,VOUGHT,Aerospatiale,MH-65C Dolphin,AS65,6182,NaN,H2T,NaN,...,NaN,NaN,NaN,NaN,NaN,False,False,False,NaN,No ADS-B Emitter Category Information
3,a4fa61,N42MH,NaN,Piper,PA-31-350,NaN,31-7852015,NaN,NaN,NaN,...,NaN,1977-01-01,NaN,NaN,LYCOMING TI0-540 SER,False,False,False,NaN,NaN
4,c04101,C-FYQA,NaN,Champion Aircraft Corporation,7GCA (Champion),NaN,420,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,False,False,NaN,NaN

In [7]:
state_vectors = pd.read_csv("data/state_vectors_7to9MAY21.csv")
state_vectors.head()

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,hour,minute,recent,icao24.1
0,1620561059,346253,40.470978,-3.558731,NaN,NaN,NaN,FAUNA6,True,False,False,NaN,NaN,NaN,1.620561e+09,1.620561e+09,1620558000,27009350,1620561059,346253
1,1620561119,346253,40.475972,-3.554889,NaN,NaN,NaN,FAUNA6,True,False,False,NaN,NaN,NaN,1.620561e+09,1.620561e+09,1620558000,27009351,1620561119,346253
2,1620561179,346253,40.471969,-3.551846,NaN,NaN,NaN,FAUNA6,True,False,False,NaN,NaN,NaN,1.620561e+09,1.620561e+09,1620558000,27009352,1620561179,346253
3,1620561239,346253,40.480247,-3.551453,NaN,NaN,NaN,FAUNA6,True,False,False,NaN,NaN,NaN,1.620561e+09,1.620561e+09,1620558000,27009353,1620561239,346253
4,1620561299,346253,40.488007,-3.556900,NaN,NaN,NaN,FAUNA6,True,False,False,NaN,NaN,NaN,1.620561e+09,1.620561e+09,1620558000,27009354,1620561299,346253